@charset "UTF-8";

.u-component-d {
    width: 100%;
    margin-bottom: 10px;
    @include border(1px, solid, #000000);
    @include flex(column, space-around, center);

    .title {
        margin: 10px 0;
    }

    .row {
        margin-bottom: 10px;
        @include flex(row, center, center);
    }
}
