@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    @include size;
}

#app {
    @include size;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
